#red {
    color : red
}
#blue {
    color : blue
}
#orange {
    color : orange
}
#green {
    color : green
}
#yellow {
    color : yellow
}
.color-title {
    font-weight: normal
}
img {
    height: 200px
}
img {
    width : 200px
}